In [3]:
import pandas as pd
from datetime import datetime
import numpy as np

In [ ]:
!curl --output card_transaction_data.csv https://raw.githubusercontent.com/rh-aiservices-bu/fraud-detection/main/data/card_transdata.csv

In [ ]:
transaction_data = pd.read_csv("card_transaction_data.csv")
transaction_data.head()

In [31]:
timestamps = pd.date_range(
    end=pd.Timestamp.now().replace(microsecond=0), 
    periods=len(transaction_data), 
    freq='1H'
).to_frame(name="event_timestamp", index=False)
timestamps.head()

In [ ]:
# timestamps['created_timestamp'] = timestamps['event_timestamp']

In [34]:
df = pd.concat(objs=[transaction_data, timestamps], axis=1)
df.head()

        transaction_id     event_timestamp
0                    0 2024-06-30 19:27:50
1                    1 2024-07-09 12:05:50
2                    2 2024-05-06 12:24:44
3                    3 2024-04-26 16:13:41
4                    4 2024-02-15 00:21:43
...                ...                 ...
999995          999995 2024-02-16 09:40:27
999996          999996 2024-03-15 12:01:33
999997          999997 2024-07-13 08:02:19
999998          999998 2024-04-15 11:21:04
999999          999999 2024-01-18 09:37:44

[1000000 rows x 2 columns]

In [ ]:
!rm -rf card_transaction_data.csv

In [ ]:
df.to_csv("card_transaction_data.csv")